@font-face {
    font-family: 'ManifaProSemiBold';
    src: url("../Manifa Pro/ManifaPro2_2.224-SemiBold.otf");
}
@font-face {
    font-family: 'ManifaProRegular';
    src: url("../Manifa Pro/ManifaPro2_2.224-Regular.otf");
}
