* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ManifaProRegular';
    color: #676A6E;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 340px;
    height: 740px;
    position: relative;
    background-color: white;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 27px 0 40px;
}

header .logo {
    text-decoration: none;
    cursor: pointer;
    margin: 0 0 0 auto;
}

header .logo img {
    max-width: 168px;
}

header h1 {
    font-size: 47px;
    line-height: 47px;
    margin: 110px 0 0;
    text-align: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 400;
    color: #6D6E71;
    font-family: 'ManifaProSemiBold';
    padding: 0 24px;
}

header h1 .span1 {
    display: inline-block;
    animation: fadeInLeft1;
    animation-duration: 1s;
}

header h1 .span2 {
    display: inline-block;
    animation: fadeInLeft2;
    animation-duration: 1.2s;
}


@keyframes fadeInLeft1 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInLeft2 {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    position: relative;
    z-index: 1;
}

.content .text {
    color: #6D6E71;
    font-size: 27px;
    line-height: 24px;
    padding: 21px 0 0;
    text-align: center;
}

.btn {
    background-color: #00AAE2;
    color: white;
    text-decoration: none;
    width: 128px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 27px;
    font-family: 'ManifaProRegular';
    letter-spacing: 0.2px;
    margin: 18px 0 0;
    border-radius: 4px;
    padding: 0 0 3px;
}

.content .main_img {
    max-width: 64px;
    margin: 0 0 70px;
}

.content .img_box {
    width: 183px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
