header h1 .span1,
header h1 .span2 {
    animation: none;
}


/*step1 style*/
.step1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.step1 .main_img {
    max-width: 64px;
    margin: 0;
}



/*step2 style*/
.step2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step2.hide {
    display: none;
}

.step2 .recycle-logo {
    max-width: 174px;
}

/*step3 style*/
.step3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step3.hide {
    display: none;
}

.step3 .check {
    max-width: 100%;
}

