header h1 .span1,
header h1 .span2 {
    animation: none;
}


/*step1 style*/
.step1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.step1 .main_img {
    max-width: 64px;
    margin: 0;
    opacity: 1;
    animation: rotateLeftRight linear infinite;
    animation-duration: 0.9s;
    animation-delay: 0s;
}

@keyframes rotateLeftRight {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}



/*step2 style*/
.step2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step2.hide {
    display: none;
}

.step2 .recycle-logo {
    width: 215px;
    top: 25px;
    position: relative;
}

/*step3 style*/
.step3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step3.hide {
    display: none;
}

.step3 .check {
    width: 220px;
    top: 50px;
    position: relative;
}
